#wppizza-settings #global{display:block;border:1px solid #CCC}
#wppizza-settings .wppizza-settings-tab{display:none;border:1px solid #CCC;padding:5px}
#wppizza-settings .nav-tab-wrapper{margin-bottom:0;border-bottom:none}

#wppizza-settings .form-table th{width:400px;}
#wppizza-settings #history .form-table th,#wppizza-settings #ingredients .form-table th,#wppizza-settings #meals .form-table th{width:5px;}

.wppizza_option{display:block}

.wppizza_weekday{min-width:100px;display:inline-block}
.wppizza_img_placeholder{width:75px;height:75px;background:url('img/no_image.png');margin:3px auto}

/******************
	[meals]
*******************/
/*categories*/
#wppizza_meals .wppizza_option{border:1px solid #CECECE;}
#wppizza_meals .wppizza_meals_category{background:#DEDEDE}
#wppizza_meals .wppizza-items{border-collapse: collapse;}
#wppizza_meals .wppizza-items td{margin:0;padding:0 2px;vertical-align:top;line-height:22px}
#wppizza_meals .wppizza-items textarea{width:100%;height:110px;}
#wppizza_meals .wppizza-items input[type=file]{width:150px;}
#wppizza_meals .wppizza-items label{display:inline-block;min-width:70px}
#wppizza_meals .wppizza-items .wppizza-delete{float:right}

.wppizza_label{min-width:150px;display:inline-block;}
.wppizza-item-img{border-right:1px dotted #EFEFEF}
/**this should be unique to wppizza->todo**/
#the-list.ui-sortable>tr{cursor:move}

/*******************
	[metaboxes]
********************/
.wppizza-meta-label{float:left;min-width:125px;line-height:200%}
/*******************
	[order settings]
*********************/
.wppizza_delivery_calculation_exclude_item{height:100px !important}
/******************
	[order form fields]
*******************/
.wppizza-order-form-wrap .form-table th{width:auto !important;}
#wppizza_order_form tr.cemail>td{margin-bottom:0;padding-bottom:0}
#wppizza_order_form th{vertical-align:top; width:auto !important; background-color:#DEDEDE;text-shadow:none}
#wppizza_order_form {border:1px solid #999999;margin-bottom:10px}
#wppizza_order_form tr:nth-child(odd){background:#EFEFEF;}
#wppizza_order_form tr:nth-child(even){background:#FFFFFF;}


/*******************
	[generic]
*********************/
.widget .widget-inside p.wppizza-type{margin-bottom:0}
.wppizza-red{color:#ff0000}
.wppizza-load{background:url('img/progress.gif') center center no-repeat transparent;}
/*******************
	[when using textarea in localization fields]
*********************/
.wppizza_localization_textarea{width:250px}
#wppizza_localization_options>div{border:1px solid #AAAAAA;margin-bottom:5px}
#wppizza_localization_options>div:nth-child(even){background:#FEFEFE;}
#wppizza_localization_options>div:nth-child(odd){background:#EFEFEF;}


/*******************
	[order history]
*********************/
.wppizza-history-wrap .form-table th{display:none}
#wppizza_history_search{border:1px solid #999999;margin-bottom:10px;margin-top:10px;width: 100%;line-height: 40px;height: 40px;padding: 0 10px;border-color: #CECECE;}
#wppizza_history_orders>table{border:1px solid #999999;margin-bottom:10px}
#wppizza_history_orders .wppizza-orders-head{background-color:#CECECE}
#wppizza_history_orders tr:nth-child(odd){background:#EFEFEF;}
#wppizza_history_orders tr:nth-child(even){background:#FFFFFF;}
#wppizza-settings .wppizza_order_customer_details{height:100px;min-width:300px}
#wppizza-settings .wppizza_order_details {width:390px !important;height:100px}
#wppizza_history_clear{border:1px solid #EFEFEF;padding:5px}
.wppizza-ord-status-new{background-color:#FBEC5D !important}
#wppizza-orders-polling{width:50px;height:35px;position:absolute;right:30px;margin-top:2px}
/******************
	[gateways]
*******************/
.wppizza-gateway-show-options{float:right;cursor:pointer;color:blue;font-size:110%;padding:0 5px}
/*initialize settings hidden*/
.wppizza-gateway-settings{display:none}
#wppizza_gateways_options>div,#wppizza_gateways_options>div>div,.wppizza-gateway-settings>div{overflow:auto;margin-bottom:5px;padding:5px;}
#wppizza_gateways_options>div{padding:2px;}
.wppizza-gateway-settings>div{border-bottom:1px dotted #CECECE;}
#wppizza_gateways_options .wppizza-gateway-head.button{width:100%;line-height:40px;height:45px;padding:0 10px;margin:0;border-color:#CECECE}
#wppizza_gateways_options .wppizza-gateway-head.button>.wppizza-gateway-enable{float:left}
#wppizza_gateways_options .wppizza-gateway-head .wppizza-gateway-show-options{margin-top:10px}

#wppizza_gateways_options label {display:block;float:left; width:200px;padding:0;margin:0;font-weight:bold;font-size:110%}
#wppizza_gateways_options textarea {width:235px;height:75px}
#wppizza_gateways_options .wp-editor-tools{margin-top:15px;}
#wppizza_gateways_options .wp-editor-container{background:#FFFFFF}
#wppizza_gateways_options .wp-editor-container textarea{width:100%}
#wppizza_gateways_options .wppizza-gateway{background:#FCFCFC;border:1px solid #ECECEC;margin-bottom:10px;padding:0}

/******************
	[access rights]
*******************/
#wppizza-settings.wppizza-access-wrap>form>table>tbody>tr>th{width:100px;}
.wppizza-access{overflow:auto;}
.wppizza-access>ul{display:block;}
.wppizza-access>ul>li{display:inline;list-style: none;float:left;padding-right:10px}
/******************
	[tools]
*******************/
#wppizza-settings.wppizza-tools-wrap>form>table>tbody>tr>th{display:none}
#wppizza-settings.wppizza-tools-wrap>form>table>tbody>tr>td{border:1px solid #ECECEC;}
/******************
	[localization]
*******************/
#wppizza-settings.wppizza-localization-wrap>form>table>tbody>tr>th{width:100px;}
